@import url('https://fonts.googleapis.com/css2?family=Kanchenjunga:wght@400;500;600;700&display=swap');

.hero {
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background: #f8fafc;
}

.left {
    width: 50%;
}

.left h1 {
    font-size: 42px;
    color: #173b6d;
    margin-bottom: 20px;

}

.left p {
    font-size: 18px;
    color: #374151;
    line-height: 1.5;
    width: 80%;
}

.right {
    width:40%;
    display:flex;
    justify-content:center;
}