.container {
    width: 100%;
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 60px;
    background: #f8fafc;
    box-sizing: border-box;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        gap: 30px;
    }
}